.body {
  background-color: #f5f5f5;
}
.top {
  margin: -8px -25px;
  background-color: #445162;
  height: 320px;
  text-align: center;
  color: #fcfafa;
}

.main-image {
  margin-top: 45px;
  width: 166px;
  height: 166px;
}

.name {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fcfafa;
}

.main-text {
  margin-top: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fcfafa;
}

.article {
  background-color: #fafbfc;
  box-shadow: 1px 1px 5px black;
  margin-top: 31px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #445161;
  padding-bottom: 50px;
}

.main {
  margin-bottom: 80px;
  margin-top: 80px;
}

.article-header {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 20px;
}

.article-text {
  margin-left: 50px;
  font-size: 16px;
  padding-left: 0px;
}

.ul {
  font-size: 16px;
  padding-left: 50px;
}
ul {
  list-style: none;
}
.li-ul:before {
  content: "✓";
}

.all-footer {
  padding-bottom: 50px;
}

.footer {
  background-color: #445162;
  color: #ffffff;
  margin: 0 -25px;
  font-family: Arial, Helvetica, sans-serif;
}

.kontakts {
  padding-top: 50px;
  padding-left: 100px;
  font-size: 30px;
}

.foot-elem {
  padding-left: 5px;
}

.contakts {
  padding-left: 265px;
}

.copyright {
  color: #373737;
  margin: 5px 10px;
  text-align: center;
  font-size: 12;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.tel {
  background: url(phone-ico@1X.png) no-repeat 0 5px;
  padding: 7px 0px 7px 28px;
}

.mail {
  background: url(mail-ico@1X.png) no-repeat 0 5px;
  padding: 7px 0px 7px 28px;
}

.git {
  background: url(github-ico@1X.png) no-repeat 0 5px;
  padding: 7px 0px 7px 28px;
}
